{% extends 'DtdbCardsBundle:Search:display.html.twig' %}

{% import "DtdbCardsBundle::suits.html.twig" as suits %}

{% block main %}

<table class="rwd-table table table-striped table-condensed">
<thead>
<tr>
<th>{% trans %}Title{% endtrans %}</th>
<th>{% trans %}Gang{% endtrans %}</th>
<th>{% trans %}Type{% endtrans %}</th>
<th>{% trans %}Value{% endtrans %}</th>
<th title="Cost or Wealth">{% trans %}Cost{% endtrans %}</th>
<th>{% trans %}Keywords{% endtrans %}</th>
<th>{% trans %}Set{% endtrans %}</th>
</tr>
</thead>
{% for i in 0..cards|length-1 %}
<tr class="{% if i%2==0 %}even{% else %}odd{% endif %}">
    {% set card = cards[i] %}
	<td data-th="{% trans %}Title{% endtrans %}">
		<a href="{{ card.url }}" class="card card-title{% if card.available == false %} card-preview{% endif %}" data-index="{{ card.code }}">{{ card.title }}</a>
	</td>
	<td data-th="{% trans %}Gang{% endtrans %}">{% if card.gang %}<img src="{{ asset('/web/bundles/dtdbbuilder/images/' ~ card.gang_code ~ '-20.png') }}" title="{{ card.gang }}">{% endif %}</td>
	<td data-th="Type" >{{ card.type }}</td>
	<td data-th="Value">{{ suits.display_card_face(card.rank, card.suit|lower) }}</td>
	<td data-th="Cost">{{ card.cost }}</td>
	<td data-th="{% trans %}Keywords{% endtrans %}">{{ card.keywords }}</td>
	<td data-th="{% trans %}Pack{% endtrans %}">{{ card.pack }} {{ card.number }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
