{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Card list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ts</th>
                <th>Code</th>
                <th>Number</th>
                <th>Quantity</th>
                <th>Title</th>
                <th>Keywords</th>
                <th>Text</th>
                <th>Flavor</th>
                <th>Illustrator</th>
                <th>Cost</th>
                <th>Value</th>
                <th>Upkeep</th>
                <th>Production</th>
                <th>Bullets</th>
                <th>Influence</th>
                <th>Control</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_card_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.ts %}{{ entity.ts|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.code }}</td>
                <td>{{ entity.number }}</td>
                <td>{{ entity.quantity }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.keywords }}</td>
                <td>{{ entity.text }}</td>
                <td>{{ entity.flavor }}</td>
                <td>{{ entity.illustrator }}</td>
                <td>{{ entity.cost }}</td>
                <td>{{ entity.rank }}</td>
                <td>{{ entity.upkeep }}</td>
                <td>{{ entity.production }}</td>
                <td>{{ entity.bullets }}</td>
                <td>{{ entity.influence }}</td>
                <td>{{ entity.control }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_card_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_card_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_card_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
