<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<set xmlns:noNamespaceSchemaLocation="CardSet.xsd"
     name="{{ name|e('html') }}"
     id=""
     gameId="0f38e453-26df-4c04-9d67-6d43de939c77"
     gameVersion="3.0.0.0"
     version="3.0.0.0">
<cards>
{% autoescape false %}
{% for card in cards %}
	<card id="bc0f047c-01b1-427f-a439-d451eda{{ card.code }}" name="{{ card.title|e('html') }}">
		<property name="Subtitle" value="{{ card.subtitle|e('html') }}" />
		<property name="Type" value="{{ card.type }}" />
		<property name="Keywords" value="{{ card.keywords }}" />
		<property name="Cost" value="{{ card.cost }}" />
		<property name="Requirement" value="{{ card.memoryunits }}" />
		<property name="Stat" value="{{ card.strength }}" />
		<property name="Rules" value="{{ card.text }}" />
		<property name="Flavor" value="{{ card.flavor }}" />
		<property name="Instructions" value="" />
		<property name="Gang" value="{{  card.gang }}" />
		<property name="Influence" value="{{ card.gangcost }}" />
		<property name="AutoScript" value="" />
		<property name="AutoAction" value="" />
	</card>
{% endfor %}
{% endautoescape %}
</cards>
</set>